@import url('https://fonts.googleapis.com/css2?family=Gideon+Roman&display=swap');
body{
    background-color:rgb(10, 10, 95);
    margin: 0px;
    padding: 0px;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    font-family: 'Gideon Roman', cursive;/*cette ligne accompagne le @import de la biblitheque google font */
    font-weight: bold;
}
form{
    background-color: white;
    padding: 30px;
    border-radius: 10px;
}
form div{
    margin-bottom: 10px;
}
input , select{
    padding: 5px;
    width :110px
}
#period{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
}
#period {
    padding: 5px;
    border: 1px solid black;
}

#period div{
    margin-right:8px;
    margin-left: 8px;
    padding: 5px;
}
form button{
    float: right;
    border-radius: 5px;
    margin-right:40%;
    height: 25px;
    width: 90px;
    cursor: pointer;
}

/* style de table resultat **/
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td {
  border: 2px solid black;
  text-align: left;
  padding: 8px;
}

td {
  border: 2px solid black;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
/**************** nav *************************/
nav{
    height: 60px;
    padding: 10px;
    margin: 15px;
    font-size: 20px;
    color: white;

}
nav div{
    float: right;
}
nav div a{
    color: white;
    text-decoration: none;
}
